body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f2f2f2;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #81b3d2;
  outline: none;
}

a:active {
  color: rgba(0, 0, 0, 0.3);
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* в контейнере нет position: relative, стоит ли объединять эти стили? */
.main-header {
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  z-index: 1;
}

.main-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.menu-list {
  width: 20%;
  text-align: center;
  line-height: 26px;
  padding: 15px 0;
  letter-spacing: 0.1px;
}

.menu-list:nth-child(3) {
  margin-left: 20%;
}

.menu-list:nth-child(4) {
  padding-left: 18px;
}

.main-menu:hover,
.main-menu:focus {
  color: #81b3d2;
  outline: none;
}

.main-header-logo {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 244px;
  height: 56px;
  overflow: visible;
}

.welcome-background-main {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-bottom: 58px;
  background-color: #ffffff;
  background-image: url("../img/background-main.jpg");
  background-position: 0 -82px;
  background-repeat: no-repeat;
  position: relative;
}

.welcome-background-main::after {
  content: "";
  width: 1200px;
  background-image: url("../img/polygon-background-main.svg");
  background-size: 100% 100%;
  display: block;
  height: 57px;
  position: absolute;
  bottom: 0;
}

.container {
  margin: 0 auto;
  background-color: #ffffff;
}

.container h3 {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
}

.main-unit-1 p {
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.main-unit-1 p:first-child {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 30px;
  padding: 0 300px;
}

.main-unit-1 {
  margin-bottom: 50px;
}

.offering-list {
  background-color: #ffffff;
}

.offering-item-img {
  height: 76px;
  margin-bottom: 25px;
}

.offering-item-img-food {
  margin-top: 2px;
  margin-bottom: 23px;
}

.offering-item-img-souvenirs {
  margin-top: -2px;
  margin-bottom: 27px;
}

.advantages-list,
.offering-list {
  list-style: none;
  padding: 0;
}

.advantages-list p,
.offering-list p {
  color: #333333;
}

.advantages-list {
  margin: 0;
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  counter-reset: number;
}

.advantages-item h3 {
  padding: 0 50px;
  margin-bottom: 25px;
  margin-top: 0;
  text-align: center;
}

.advantages-item p {
  position: relative;
}

.advantages-item p::before {
  counter-increment: number;
  content: "— №" counter(number) " — ";
  display: block;
  margin-bottom: 22px;
}

.advantages-item:first-child {
  order: 1;
}

.advantages-item:nth-child(n+2) {
  order: 3;
}

.advantages-list .offering {
  order: 2;
}

.advantages-item-blue {
  color: #ffffff;
  background-color: #81b3d2;
  display: flex;
}

.advantages-item-blue-wrapper,
.advantages-item-gray {
  width: 400px;
  text-align: center;
  padding: 46px 50px 45px;
}

.advantages-item-blue-img img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.advantages-item-gray {
  padding: 48px 75px 45px;
}

.advantages-item:nth-child(4) {
  padding: 48px 65px 45px;
}

.advantages-item-gray h3 {
  margin-bottom: 23px;
}

.advantages-item-blue-wrapper-2 {
  padding: 48px 47px 43px;
}

.advantages-item-blue-wrapper-2 h3 {
  padding: 0px 30px;
  margin-bottom: 23px;
}

.advantages-item-blue p {
  color: #ffffff;
}

.offering-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.offering-item {
  width: 400px;
  min-height: 330px;
  text-align: center;
  padding: 60px 50px;
}

.search {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.search b {
  display: block;
  margin: 52px auto 23px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.search p {
  line-height: 25px;
  color: #333333;
  text-align: center;
  margin-bottom: 45px;
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.hotel-search {
  background-color: #766357;
  display: block;
  width: 568px;
  min-height: 86px;
  cursor: pointer;
}

.hotel-search:hover,
.hotel-search:focus {
  background-color: #604e43;
  outline: none;
}

.hotel-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.user {
  display: none;
  background-color: #ffffff;
  position: absolute;
  width: 568px;
}

.user-open {
  display: flex;
  flex-wrap: wrap;
  padding: 55px 50px;
  text-align: left;
  animation-name: flipInX;
  animation-duration: 0.6s;
  transform-origin: 50% 0;
}

@-webkit-keyframes flipInX {
  from {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
  }

  40% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }

  60% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
  }

  80% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
  }

  40% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }

  60% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
  }

  80% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

.user p {
  margin: 0;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  position: relative;
}

.user label,
.user input {
  line-height: 38px;
  font-weight: 700;
  color: #000000;
}

.user label {
  cursor: pointer;
  margin-right: 11px;
  letter-spacing: 0.2px;
  width: 105px;
  display: inline-block;
  vertical-align: middle;
  line-height: 38px;
  padding-left: 0px;
}

.calendar {
  display: inline-block;
  vertical-align: baseline;
  width: 21px;
  height: 22px;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-13px);
  right: 15px;
  cursor: pointer;
}

.calendar rect,
.calendar path {
  fill: #cacaca;
}

.calendar:hover rect,
.calendar:focus rect,
.calendar:hover path,
.calendar:focus path {
  fill: #000000;
  outline: none;
}

.calendar:active path,
.calendar:active rect {
  fill: #81b3d2;
}

.user input {
  background-color: #f2f2f2;
  border: none;
  width: 347px;
  text-transform: uppercase;
  padding-left: 7px;
}

.user-unit-1 {
  display: flex;
  justify-content: space-between;
}

.user-unit-1 p {
  margin-right: 50px;
  margin-bottom: 52px;
}

.user-unit-1 label {
  margin: 0;
  margin-right: 11px;
  text-align: start;
  padding: 0 5px;
}

.child label {
  width: 56px;
}

.user-unit-1 input {
  width: 115px;
  text-align: center;
}

.user input:hover {
  background-color: #ebebeb;
}

.user input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.remove,
.add {
  position: absolute;
  background-color: transparent;
  font-weight: 700;
  color: #a9a9a9;
  min-height: 38px;
  outline: none;
  cursor: pointer;
}

.remove {
  right: 85px;
  top: 0px;
}

.add {
  right: 4px;
  top: 0;
}

.remove:hover,
.add:hover,
.remove:focus,
.add:focus {
  color: #000000;
}

.remove:active,
.add:active {
  color: #82b3d3;
}

.search-button {
  display: block;
  background-color: #81b3d2;
  outline: none;
  width: 458px;
  min-height: 58px;
  margin: 0 auto;
  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: #95b9d1;
  background-color: #5496bd;
}

.main-footer {
  min-height: 120px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer-1 {
  margin-top: -124px;
  padding-top: 6px;
  z-index: 2;
  position: relative;
}

.footer-contact,
.footer-social,
.footer-copyright {
  width: 30%;
  margin-top: 14px;
}

.footer-contact a {
  font-size: 21px;
  line-height: 26px;
  margin-left: 113px;
}

.footer-social ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 104px;
}

.footer-social li {
  list-style: none;
  justify-content: center;
  margin-right: 6px;
  margin-bottom: 6px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  outline: none;
}

.social-button:hover, 
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  overflow: hidden;
}

.footer-copyright b {
  font-weight: 400;
  line-height: 26px;
  margin-left: 82px;
  margin-right: 4px;
}

.logo-button {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  width: 115px;
  min-height: 41px;
}

.logo-button {
  fill: inherit;
}

.logo-button path,
.logo-button rect {
  fill: #231F20;
}

.logo-button:hover path,
.logo-button:focus path,
.logo-button:hover rect,
.logo-button:focus rect {
  fill: #81b3d2;
}

.logo-button:active path,
.logo-button:active rect {
  fill: #c9c7c8;
}

.menu-list-active a {
  color: #cacaca;
}

.hotels-filter {
  color: #ffffff;
  background-color: rgba(0, 1, 1, 0.2);
  background-image: url("../img/background-hotels.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.filters {
  display: flex;
/* justify-content: space-between; */
  min-height: 217px;
}

fieldset {
  border: none;
  margin-top: 27px;
  margin-bottom: 0;
  margin-left: 72px;
  margin-right: 47px;
  padding: 0;
}

fieldset:nth-child(3n) {
  margin-left: auto;
  margin-right: 72px;
}

.hotels-filter legend {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 25px;
}

.hotels-cost legend {
  margin-bottom: 10px;
}

.hotels li {
  padding: 10px 0;
  list-style: none;
}

.infrastructure-list,
.type-list {
  margin: 0;
  padding: 0;
}

.filters-item {
  list-style: none;
  margin-bottom: 25px;
  padding-left: 40px;
}

.filters-item label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filters-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filters-input-checkbox:focus + label {
  opacity: 0.7;
}
/* добавила от себя, но не понимаю почему фокус не работает */
.filters-item label:hover {
  opacity: 0.7;
}

.filters-input-checkbox:disabled + label {
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.5);
}

.fieldset-unit-1 {
  position: relative;
  width: 317px;
  margin-bottom: 20px;
  display: flex;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.fieldset-unit-1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.fieldset-unit-1 label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
}

.fieldset-unit-1 .min-cost {
  width: 100%;
  padding-left: 65px;
}

.fieldset-unit-1 .max-cost {
  width: 100%;
  padding-left: 50px;
}

.fieldset-unit-1 input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 30px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(253, 253, 253, 0.2);
  cursor: pointer;
  outline: none;
}

.range-toggle:hover,
.range-toggle:focus {
  transform: scale(1.2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-show {
  display: block;
  margin-left: 83px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-show:hover,
.button-show:focus,
.fieldset-unit-1 input:hover,
.fieldset-unit-1 input:focus {
  color: #424242;
  background-color: #ffffff;
  outline: none;
}

.hotels-sorting {
  background-color: #ffffff;
  display: flex;
  margin: 0 70px;
}

.sorting-result {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  min-width: 120px;
}

.sorting-result {
  text-align: center;
  padding: 30px 0;
  margin: 0 46px 0 0;
}

.sorting-heading,
.sorting-list {
  font-size: 12px;
  line-height: 26px;
  margin: 0;
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.sorting-heading {
  margin-right: 6px;
}

.sorting-list {
  width: 889px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.hotels-sorting li {
  list-style: none;
  margin-left: 33px;
}

.hotels-sorting li:nth-child(4) {
  margin-left: auto;
}

.hotels-sorting li:nth-child(5) {
  margin-left: 13px;
  margin-right: 3px;
}

.hotels-sorting li:nth-child(n+4) {
  width: 10px;
  text-align: center;
}

.sorting-item {
  font-weight: 400;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item-badge {
  border-bottom: none;
}

.sorting-item-badge:hover polyline,
.sorting-item-badge:focus polyline,
.sorting-item-badge:hover polygon,
.sorting-item-badge:focus polygon {
  fill: #231F20;
}

.sorting-item-badge:active polyline,
.sorting-item-badge:active polygon,
.sorting-item-active polygon,
.sorting-item-active polyline {
  fill: #81b3d2;
}

.active-cost {
  color: #81b3d2;
  border: none;
}

.sorting-item:hover,
.sorting-item:focus {
  color: #81b3d2;
}

.sorting-item:active {
  color: #000000;
  border: none;
}

.hotels-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border-top: 1px solid #f2f2f2;
}

.hotel-item {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #f2f2f2;
}

.hotel-item img {
  margin: 20px 30px 20px 72px;
}

.hotel-item-middle {
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.hotel-name {
  width: 260px;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  margin-top: 15px;
  letter-spacing: 0.2px;
}

.hotels {
  padding-bottom: 8px;
}

.hotels-type,
.hotels-price {
  color: #333333;
  margin-top: 7px;
}

.hotels-type {
  width: 115px;
}

.hotels-price {
  width: 135px;
}

.hotels-details,
.hotels-book {
  color: #ffffff;
  margin-top: 15px;
}

.hotels-details {
  width: 110px;
  height: 27px;
  margin-right: 6px;
  text-align: center;
  padding: 2px 16px;
  background-color: #81b3d2;
}

.hotels-details:hover,
.hotels-details:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.hotels-details:active {
  color: #95b9d1;
  background-color: #5496bd;
}

.hotels-book {
  width: 142px;
  height: 27px;
  text-align: center;
  padding: 2px 16px;
  background-color: #766357;
}

.hotels-book:hover,
.hotels-book:focus {
  color: #ffffff;
  background-color: #604e43;
  outline: none
}

.hotels-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotels-rank {
  width: 110px;
  height: 27px;
  color: #666666;
  margin-top: 85px;
  margin-right: 70px;
  padding: 2px 13px;
  background-color: #f2f2f2;
  margin-left: auto;
}

.star::before {
  position: absolute;
  display: block;
  width: 88px;
  height: 17px;
  background-repeat: space;
  background-size: 18px 17px;
  background-color: #ffffff;
  right: 72px;
}

.star-4::before {
  content: "";
  background-image: url("../img/invalid-name.svg");
  top: 29px;
}

.star-3::before {
  content: "";
  background-image: url("../img/invalid-name.svg");
  width: 64px;
  top: 181px;
}

.star-2::before {
  content: "";
  background-image: url("../img/invalid-name.svg");
  width: 40px;
  top: 331px;
}