body {
  margin: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

/* определять так ссылки плохо? */
a {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #81b3d2;

  outline: none
}

a:active, {
  color: #c9c9c9;
}

img { 
  max-width: 100%; 
}

html { 
  box-sizing: border-box; 
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.main-header {
  padding: 0 40px;
  width: 1280px;
  margin: 0 auto;

  position: relative;
}

.main-menu {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
}

.menu-list {
  min-height: 56px;
  width: 20%;
  text-align: center;
  line-height: 56px;
}

.menu-list:nth-child(3) {
  margin-left: 20%;
}

.main-menu:hover,
.main-menu:focus {
  color: #81b3d2;

  outline: none;
}

.main-header-logo {
  display: block;
  position: absolute;
  transform: translateX(200%);
  text-align: center;

  width: 244px;
  height: 56px;

  overflow: visible;
}

.welcome-background-main {
  text-align: center;
  padding-top: 76px;
  margin-bottom: 61px;

  background-color: #a9a9a9;
  background-image: url("../img/background-main.jpg");
  background-position: 0 -82px;
  background-repeat: no-repeat;
}

.welcome-background-main::after {
  content: url("../img/polygon-background-main.svg");
  display: block;
  padding-top: 19px;
  width: 1200px;
  height: 75px;
}

.container {
  padding: 0 40px;
  width: 1280px;
  margin: 0 auto;
}

.container h3 {
  font-size: 21px;
  font-weight: 700;
}

.main-unit-1 p {
  line-height: 26px;
  color: #333333;

  text-align: center;
  padding-bottom: 8px;
}

.main-unit-1 p:first-child {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.main-unit-1 {
  margin-bottom: 43px; 
}

.advantages-list,
.offering-list {
  list-style: none;
  padding: 0;
}

.advantages-list p,
.offering-list p {
  color: #333333;
}

.advantages-list {
  background-color: #eeeeee;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.advantages-item:first-child {
  order: 1;
}

.advantages-item:last-child {
  order: 2;
}

.advantages-item:nth-child(2) {
  order: 3;
}

.advantages-item:nth-child(3) {
  order: 4;
}

.advantages-item:nth-child(4) {
  order: 5;
}

.advantages-item:nth-child(5) {
  order: 6;
}

.advantages-item-blue {
  color: #ffffff;

  background-color: #81b3d2;
  display: flex;
  width: 1200px;
}

.advantages-item-blue-wrapper {
  width: 400px;
  min-height: 256px;
  text-align: center;
}

.advantages-item-blue p {
  color: #ffffff;
}

.advantages-item-gray {
  width: 400px;
  min-height: 256px;
  text-align: center;
}

.offering-list {
  display: flex;
}

.offering-item {
  justify-content: space-around;
  width: 400px;
  min-height: 330px;
  text-align: center;
}

/* нужно добавить красивые номера для li в .advantages-list */
.search {
  position: relative;
  width: 568px;
  margin: 0 auto;

}

.search b {
  display: block;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 10px;
}

.search p {
  line-height: 24px;
  color: #333333;
  text-align: center;
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  border: none;

  text-transform: uppercase;
}

.hotel-search {
  background-color: #766357;
  display: block;
  margin: 32px auto 0;

  width: 568px;
  height: 86px;
}

.hotel-search:hover,
.hotel-search:focus {
  background-color: #604e43;

  outline: none
}

.hotel-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.user {
  background-color: #ffffff;
  position: absolute;
  width: 568px;
}

.user label,
.user input {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.user input {
  background-color: #f2f2f2;
  border: none;

  text-transform: uppercase;
}

.user input:hover {
  background-color: #ebebeb;
}

.user input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.calendar {
  padding: 0;

  background-color: #f2f2f2;
  border: none; 
  outline: none; 
  position: absolute;
}

.calendar::after {
  content: url("../img/calendar.svg");
}

/* потом добавлю svg в html, не умею этого делать, такое чувство, что мы этого еще не проходили */

.remove,
.add {
  font-weight: 700;
  color: #a9a9a9;

  background-color: #f2f2f2;
  outline: none; 
}

.remove:hover,
.add:hover {
  color: #000000;

  background-color: #ebebeb; 
}

.remove:focus,
.add:focus { 
  color: #000000;

  background-color: #ffffff; 
}

.remove:active,
.add:active {
  color: #82b3d3;

  background-color: #ffffff; 
}

.search-button {
  background-color: #81b3d2;

  outline: none;

  margin: 97px 55px 55px;

  width: 458px;
  height: 58px;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: #95b9d1;

  background-color: #5496bd; 
}

.main-footer-1::before {
  content: "";
  background-image: url("../img/map.jpg");
  width: 1200px;
  height: 473px;
}

.main-footer {
  padding: 0 40px;
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(256, 256, 256, 0.9);
}

.footer-contact a {
  font-size: 21px;
  line-height: 26px;
}

.footer-social ul {
  display: flex;
  width: 150px;
}

.footer-social li {
  padding: 0;
  list-style: none;
  justify-content: space-around;
  margin-right: 6px;
}

.twitter::before {
  content: "";
  background-image: url("../img/twitter.svg");
}

.facebook::before {
  content: "";
  background-image: url("../img/facebook.svg");
}

.youtube::before {
  content: "";
  background-image: url("../img/youtube.svg");
}

.twitter::before,
.facebook::before,
.youtube::before {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #81b3d2;
}

/* фокус, наведение, нажатие не работает. с учетом того, что при нажатиии сама картинка меняет цвет, это тоже контентные картинки? */
.social-button:hover, 
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  color: #95b9d1;

  background-color: #5496bd;
}

.footer-copyright b {
  font-weight: 400;
  line-height: 26px;
}

/* c логотипом тоже непонятно (((
.logo-button:hover,
.logo-button:focus {
  fill: #81b3d2;
}
.logo-button:active {
  fill: #c9c7c8;
} */

.menu-list-active a {
  color: #cacaca;
}

.hotels-filter {
  color: #ffffff;

  background-color: rgba(0, 1, 1, 0.2);
  background-image: url("../img/background-hotels.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.filters {
  display: flex;
  justify-content: space-around;
  min-height: 217px; 
}

fieldset {
  border: none;
}

.hotels-filter legend {
  font-weight: 700;
  font-size: 16px;
}

.hotels-filter li,
.hotels-sorting li,
.hotels li {
  padding: 10px 0;
  list-style: none;
}

.infrastructure-list,
.type-list {
  margin: 0;
  padding: 0;
}

.fieldset-unit-1 input,
.hotels-cost button {
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.fieldset-unit-1 input {
  line-height: 21px;

  outline: none;
}

.button-show {
  outline: 2px solid #ffffff;

  text-transform: uppercase;
}

.button-show:hover,
.button-show:focus {
  color: #424242;

  background-color: #ffffff;
}

.fieldset-unit-1 {
  border: 2px solid #ffffff;
}

.hotels-sorting {
  background-color: #ffffff;

  display: flex;
  padding-left: 72px;
}

.sorting-result,
.hotel-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sorting-list {
  font-size: 12px;
  line-height: 18px;
  display: flex;
}

.sorting-item {
  font-weight: 400;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.active-cost {
  color: #81b3d2;
  border: none;
}

.sorting-item:hover,
.sorting-item:focus {
  color: #81b3d2;
}

.sorting-item:active {
  color: #000000;
  border: none;
}

/* нужно вставить треугольники и снова вопрос смены цветов при наведение и пр.*/

.hotels-list {
  display: flex;
  flex-wrap: wrap;
}

.hotel-item {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-item-middle {
  width: 258px;
  margin-right: 522px;
}

.hotels-type,
.hotels-price {
  color: #333333;
}

.hotels-rank {
  width: 110px;
  color: #666666;

  background-color: #f2f2f2;
}

.star::before {
  display: inline-block;
  vertical-align: top;
  width: 89px;
  height: 17px;
  background-repeat: space;
  background-size: 18px 17px;
  background-color: #ffffff;
}

.star-4::before {
  content: "";
  background-image: url("../img/invalid-name.svg");
}

.star-3::before {
  content: "";
  background-image: url("../img/invalid-name.svg");
  width: 64px;
}

.star-2::before {
  content: "";
  background-image: url("../img/invalid-name.svg");
  width: 40px;
}

.hotels-details,
.hotels-book {
  color: #ffffff;
}

.hotels-details {
  background-color: #81b3d2;
}

.hotels-details:hover,
.hotels-details:focus {
  color: #ffffff;

  background-color: #669ec0;
}

.hotels-details:active {
  color: #95b9d1;

  background-color: #5496bd; 
}

.hotels-book {
  background-color: #766357;
}

.hotels-book:hover,
.hotels-book:focus {
  color: #ffffff;

  background-color: #604e43;

  outline: none
}

.hotels-book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}